.cart-container{
    margin-top: 58px;
    
}

.cart-inner{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cart-inner1{
    width:100%;
    height: 400px;
    border:2px solid black;
}

.cart-inner1 img{
    width:100%;
    height:60%
}

.cart-inner1 h1{
    width: fit-content;
    margin-left: 30%;
}

.cart-inner1 span{
    margin-left: 30%;
    color:blue;

}

.cart-inner1 button{
    width:fit-content;
    display:block;
    margin-left: 30%;
    margin-top: 5px;
    padding:10px;
    border-radius:10px;
}