.login-container{
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    gap:1rem;
    height: fit-content;
    margin-top: 8%;
    width:70%;
    margin-left: 15%;
    background-color: rgba(122,133,144,.8);
    padding-bottom: 1%;
}

.login-container button{
    width:fit-content;
    height: 3rem;
    border:none;
    margin-left: 40%;
    font-size: 2rem;
    font-weight: 800;
    color:blue;
    background-color: rgba(122,133,144,.8);
    border-radius: 10px;
    padding:2px;
    box-shadow: 5px 5px 2px rgb(88, 88, 87);
}
.between-button{
    width:fit-content;
    margin-left: 42%;
    padding: 5px;
    padding-left: 5px;
    background-color: rgb(8, 8, 8);
    opacity: 0.7;
    color: rgb(247, 239, 239);
    font-size: x-small;
    border:2px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
}

.login-container h1,h4{
    width:fitcontent;
    margin-left: 40%;
    margin-top:1rem;
    
}

.login-container h4{
    margin-left: 35%;
    margin-top:0;
}

.article1{
    width:fit-content;
    margin-left: 32%;
    padding: 5px;
    padding-left: 5px;
    background-color: rgb(8, 8, 8);
    opacity: 0.7;
    color: rgb(247, 239, 239);
    font-size: x-small;
    border:2px solid black;
    border-radius: 10px;
}

.login-container input{
    width:40%;
    height:2rem;
    font-size: 1rem;
    margin-left: 30%;
    

}