.signup-container{
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    gap:1rem;
    height: fit-content;
    margin: auto;
    width:fit-content;
   
    background-color: rgba(122,133,144,.8);
    padding:3rem;
    margin-top:3rem;
}
.inner-container{
    display:flex;
    gap:10px;
    flex-direction: column;
}

.inner-container button{
    width:fit-content;
    height: 3rem;
    border:none;
    margin-left: 20%;
    font-size: 2rem;
    font-weight: 800;
    color:blue;
    background-color: rgba(122,133,144,.8);
    border-radius: 10px;
    padding:2px;
    box-shadow: 5px 5px 2px rgb(88, 88, 87);
}

.inner-container p{
     width:fit-content;
    margin-left:5px;
    padding: 5px;
    padding-left: 5px;
    background-color: rgb(8, 8, 8);
    opacity: 0.7;
    color: rgb(247, 239, 239);
    font-size: x-small;
    border:2px solid black;
    border-radius: 10px;
}

.inner-container article{
      width:fit-content;
    margin-left:26%;
    padding: 5px;
    padding-left: 5px;
    background-color: rgb(8, 8, 8);
    opacity: 0.7;
    color: rgb(247, 239, 239);
    font-size: x-small;
    border:2px solid black;
    border-radius: 10px;
}

.inner-container input{
    padding:5px;
    font-size: 1rem;
    font-weight: 600;
}

.signup-head{
    margin-left: 10px;
}